
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Changed background color to blue */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff; /* Set font color to white */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.login-container {
    flex: 1;
}

.login-bar {
    background-color: #47987d;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login-bar h2 {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 9px;
}

.input-group label {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    padding: 9px;
    box-sizing: border-box;
    border: 2px solid #408ab9;
    border-radius: 10px;
    font-size: 15px;
}

.input-group input:focus {
    outline: none;
    border-color: #3498db;
}

.login-btn {
    background-color: #067d71;
    color: #fff;
    padding: 10px 25px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom:0px;
}

.login-btn:hover {
    background-color: #1b6ca8;
}

.forgot-password {
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
    margin-bottom: 50px;
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.keep-logged-in {
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
    margin-top: 1px;
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}



